<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>{{- .Header.Name -}}'s CV</title>
    <link href="./generated.css" rel="stylesheet">
  </head>
  <body>
    <div
      id="root"
      class="flex flex-row justify-center w-full h-full">
      <div
        id="resume"
        class="flex flex-col gap-2 p-4 w-full bg-white relative"
      >
        <div id="header" class="flex flex-col gap-1">
          <p
            id="name"
            class="text-xl font-serif font-bold text-stone-900"
          >
            {{- .Header.Name -}}
          </p>
          <p id="summary" class="text-xs text-stone-900">
            {{- .Header.Summary -}}
          </p>
          <div
            id="header-details"
            class="flex flex-row flex-wrap gap-1"
          >
            <div class="flex flex-row gap-1">
              <p class="italic text-xs font-medium text-blue-900">Email</p>
              <p class="text-xs font-semibold text-stone-900">{{- .Header.Email -}}</p>
            </div>
            {{ if .Header.Github }}
              <div class="flex flex-row gap-1">
                <p class="italic text-xs font-medium text-indigo-900">GitHub</p>
                <p class="text-xs font-semibold text-stone-900">{{- .Header.Github -}}</p>
              </div>
            {{end}}
            {{ if .Header.Site }}
              <div class="flex flex-row gap-1">
                <p class="italic text-xs font-medium text-pink-900">Site</p>
                <p class="text-xs font-semibold text-slate-900">{{- .Header.Site -}}</p>
              </div>
            {{end}}
            {{ if .Header.Phone }}
              <div class="flex flex-row gap-1">
                <p class="italic text-xs font-medium text-teal-900">Phone</p>
                <p class="text-xs font-semibold text-slate-900">{{- .Header.Phone -}}</p>
              </div>
            {{end}}
          </div>
        </div>

        <div id="experience" class="flex flex-col gap-2 p-1 border border-slate-400 rounded-lg">
          <h2 class="text-lg font-serif font-bold bg-clip-text border-b-1 border-blue-900">Experience</h2>
          {{range .Experience}}
          <div class="px-1 border-blue-900 flex flex-col">
            <div class="flex flex-row gap-1 items-baseline">
              <p class="text-sm font-serif font-bold text-stone-900">{{- .Business -}}</p>
              <p class="text-sm text-blue-900 font-semibold">{{- .Title -}}</p>
            </div>
            <p class="text-xs font-mono text-stone-900">{{- .StartDate }} - {{ .EndDate -}}</p>
            <ul class="list-disc list-inside">
            {{range .Details}}
            <li class="text-stone-900 text-sm">
              {{- . -}}
            </li>
            {{end}}
            </ul>
          </div>
          {{end}}
        </div>

        <div id="skills" class="grid grid-cols-3 gap-2">
          {{range .Skills}}
          <div class="flex flex-col gap-1 p-1 border border-stone-400 rounded-lg">
            <p class="text-base font-serif font-bold border-b-1 border-stone-900">
              {{- .Group -}}
            </p>
            <div class="flex flex-col gap-1">
              {{range .Skills}}
              <p class="text-xs text-stone-900 border-stone-400 border-l-1 px-1 rounded-sm">
                {{ . }}
              </p>
              {{end}}
            </div>
          </div>
          {{end}}
        </div>

        <div id="training" class="grid grid-cols-3 gap-2">
          <div id="education" class="flex flex-col gap-1 p-1 border border-stone-400 rounded-lg">
            <h2 class="text-lg font-serif font-bold border-b-1 border-indigo-900">Education</h2>
            {{range .Education}}
            <div class="flex flex-col gap-1 p-1">
              <p class="text-xs font-serif font-bold text-stone-900">{{- .School -}}</p>
              <p class="text-xs font-mono text-stone-900">{{- .StartDate }} - {{.EndDate -}}</p>
              <p class="text-xs text-indigo-900 font-semibold mt-1">{{- .Degree -}}</p>
              <ul>
              {{range .Details }}
                <li class="text-xs list-disc list-inside text-stone-900">
                  {{- . -}}
                </li>
              {{end}}
              </ul>
            </div>
            {{end}}
          </div>
          {{ if .Certifications }}
          <div id="certifications" class="flex flex-col gap-1 p-1 border border-stone-400 rounded-lg">
            <p class="text-lg font-serif font-bold border-b-1 border-amber-900">Certifications</p>
            {{range .Certifications}}
              <div class="p-1">
                <p class="text-base text-stone-900">{{ .Name }}</p>
              </div>
            {{end}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </body>
</html>
